<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label>Check in Date:</label>
    <input type="date" formControlName="checkInData" class="form-control" />
    <div
      *ngIf="
        reservationForm.get('checkInData')?.invalid &&
        reservationForm.get('checkInData')?.touched
      "
    >
      Check-In Date is required
    </div>
  </div>

  <div class="mb-3">
    <label>Check out Date:</label>
    <input type="date" formControlName="checkOutData" class="form-control" />
    <div
      *ngIf="
        reservationForm.get('checkOutData')?.invalid &&
        reservationForm.get('checkOutData')?.touched
      "
    >
      Check-out Data is required
    </div>
  </div>

  <div class="mb-3">
    <label>Guest Name:</label>
    <input type="text" formControlName="guestName" class="form-control" />
    <div
      *ngIf="
        reservationForm.get('guestName')?.invalid &&
        reservationForm.get('guestName')?.touched
      "
    >
      guestName is required
    </div>
  </div>

  <div class="mb-3">
    <label>Email:</label>
    <input type="email" formControlName="guestEmail" class="form-control" />
    <div
      *ngIf="
        reservationForm.get('guestEmail')?.invalid &&
        reservationForm.get('guestEmail')?.touched
      "
    >
      guestEmail is required
    </div>
  </div>

  <div class="mb-3">
    <label>Room Number</label>
    <input type="number" formControlName="roomNumber" class="form-control" />
    <div
      *ngIf="
        reservationForm.get('roomNumber')?.invalid &&
        reservationForm.get('roomNumber')?.touched
      "
    >
      roomNumber is required
    </div>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="reservationForm.invalid"
  >
    Submit
  </button>
</form>
